<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add products</h2>
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name">

                    <label for="">Category</label>
                    <input type="text" class="form-control" name="category">
  
                    <label for="">Price</label>
                    <input type="text" class="form-control" name="Price">

                    <label for="">Description</label>
                    <input type="text" class="form-control" name="description">

                    <label for="">Image</label>
                    <input type="file" class="form-control" name="image">

                                


                    <button type="submit" class="btn btn-success mt-4">submit</button>
                </form>
            </div>
        </div>
    </div>
</section>