<section>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col-1">
                    <h4>Download our app</h4>
                    <p>Download app for android and IOS mobile phone</p>
                    <div class="app-logo">
                        <img src="./images/appstore.png" alt="image1">
                        <img src="./images/googleplay.jpg" alt="image2">
                    </div>
                </div>
                <div class="col-md-4 footer-col-2">
                    <img src="./images/cake-food.png" class="image" alt="cake1">
                    <p>We are making your taste in our cake</p>
                </div>
                <div class="col-md-4 footer-col-3">
                    <h4>Follow Us</h4>
                    <ul>
                        <li> facebook</li>
                        <li> Instagram</li>
                        <li> Twitter</li>
                        <li> Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">
                Copyright @lps2021
            </p>
        </div>
    </div>
</section>