<section>
    <div class="banner-container">
        <div class="row align-items-center ">
            {{!-- left section --}}
            <div class=" col-xs-12 col-md-6  left-section">
                <h1 >
                    Welcome to the Land of Cakes
                </h1>
                <p>
                    one stop cake destination for all your parties and events.
                </p>
               <button class="home-btn">Our Menu</button>
            </div>
            

        </div>
    </div>

</section>
<section class="aboutpage"> 
    <div class="container">
        <h1>About Us</h1>
        <p>Cake Land ,The Land of Cakes !</p>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>

</section>
{{!-- footer --}}
<section>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col-1">
                    <h4>Download our app</h4>
                    <p>Download app for android and IOS mobile phone</p>
                    <div class="app-logo">
                        <img src="./images/appstore.png" alt="image1">
                        <img src="./images/googleplay.jpg" alt="image2">
                    </div>
                </div>
                <div class="col-md-4 footer-col-2">
                    <img src="./images/cake-food.png" class="image" alt="cake1">
                    <p>We are making your taste in our cake</p>
                </div>
                <div class="col-md-4 footer-col-3">
                    <h4>Follow Us</h4>
                    <ul>
                        <li> facebook</li>
                        <li> Instagram</li>
                        <li> Twitter</li>
                        <li> Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">
                Copyright @lps2021
            </p>
        </div>
    </div>
</section>

