<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="placeorder">
   <div class="container order-placed">
    <div class="row">
        <div class="order-succes">
             <p>order placed successfully</p>
             <a href='/orders' class="btn btn-success">Orders</a>
        </div>
   
    </div>
    </div>
</body>
</html>