*{
    box-sizing: border-box;

}

:root{
    --primary-pink: rgb(196, 21, 79);
    --primary-text: rgb(214, 107, 143);
    --primary-white:#fff;
}

body{
    margin: 0;
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x:hidden;
}
.header-wrap{
    width: 100%;
    position: fixed;
    z-index:1;
}
.header-style{
   
    background:radial-gradient( white,rgb(196, 21, 79))  ;
    position: fixed;
}
 .title{
     text-transform: uppercase;
     font-weight: 500;
     font-size: large;
     color: rgb(90 25 46)!important;
     font-family: 'Lobster', cursive;
     
 }
 nav ul li a{
    text-transform: uppercase;
    color:rgb(90 25 46) !important;
    font-family: 'Lobster', cursive;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  
    
 }
 .navbar-nav>li>a.active:focus{
    
    border-top:0.18rem solid white
  }
  .navbar-nav>li>a:hover{
    border-top:0.18rem solid white
  }
 nav div a{
    text-transform: uppercase;
    color:rgb(90 25 46) !important;
    font-family: 'Lobster', cursive;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
 }
.banner-container{
    
    width: 100%;
    height: 100vh;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url('/images/home-background.jpg');
    background-size: cover;
    background-attachment: fixed;
  
    
}
.banner-container .row{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.left-section {
    margin: 0;
    padding: 0;  
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position:absolute;  
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutpage{
    width: 100%;
}

.left-section h1,h2,h4,.aboutpage h1{
    color: var(--primary-pink) !important;
    text-shadow: 1px 1px 2px pink;
    font-family: cursive;
    mix-blend-mode:luminosity;
   
}
.left-section p, label,.aboutpage p {
    color: var(--primary-pink) !important;
    font-family: 'Lobster', cursive;
}
.banner-container a{
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
.banner-container a:hover{
    text-decoration: none;
    color: var(--primary-pink) ;
}

.about-image{
    width: 100%;
    height:400px;
    padding: 50px,0 !important;
}



.input-group input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline:none;
    border:1px solid silver;
    margin-bottom: 10px;
    box-shadow: 0 3px 6px #21211d;
    color: var(--primary-text);

}
.image{
    width:70px;
    height:50px
}
.btn{
    display:inline-block;
    background-color: var(--primary-pink);;
    color:white ;
    padding:8px,30px;
    margin:30px,20px;
    border-radius:30px;
}
.home-btn{
    height: 68px;
    width: 100px;
    background:linear-gradient( white,rgb(196, 21, 79));
    border:none;
   
    color:white ;
    padding:17px;
    margin:30px,20px;
    border-radius:30px;
}

/* view products */
.products{
    position: relative;
    top: 76px;
    width: 100%;
    background:radial-gradient( white,pink)  ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    transition: transform(0.5s);
}
.card:hover{
    transform: translatey(-5px);
}

.card-img-top{
    height:10rem;
}
.card-body {
    padding: 0 !important;
}
.products .card-body h5 {
    margin: 0;
}
.products .card-body p{
    margin: 0;
}
 .btn-section{
    width:20px;
    padding: initial;

} 
/* Flip card */
.flip-card{
    width: 250px;
    height: 250px;
    margin:auto;
}
.flip-card-back{
    /* background-color: var(--primary-text); */
    background:radial-gradient( white,pink);
    color:#8a8a8a;
    transform: rotateY(180deg);
    z-index:1;

}
.flip-card-back .back-header{
    height: 45%;
    text-align:center;
}
.flip-card-back .back-header img{
 width: 50%;
 height: 90%;
 margin-top: 10px;
}
.flip-card-inner{
    position:relative;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-back ,.flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
   backface-visibility: hidden;
}
.flip-card-front img{
    height: 100%;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-back .back-footer{
    width: 100%;
    text-align: center;
}


/* footer */
.container{
    max-width: 1300px;
    margin:auto;
    padding-right: 25px;
    padding-left:25px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}
/* .col{
    padding-left: 65px !important;
} */
.footer-col-1,.footer-col-2,.footer-col-3{
    text-align: center !important;
}
.footer{
    /* position: relative;
    top: 76px; */
   
    width: 100%;
    /* background: #000; */
    background:radial-gradient( white,rgb(196, 21, 79),rgb(149, 71, 151)) ;
    color:#8a8a8a;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 0 20px;
    }
.footer p{
    color: #8a8a8a;
}
.footer h4{
    color: #fff;
    /* margin-bottom: 10px; */
}
.footer ul{
list-style-type: none;
}
.app-logo{
    margin-top:20px ;
}
.app-logo img{
    width:140px;
    height:50px;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height:1px;
    margin:20px,0;
}
.copyright{
    text-align: center;
}
/* Cart details */
.order-product-details{
    position: relative;
    top: 76px;
    background:radial-gradient( white,pink)  ;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}
.cart-details,.login-page{
    position: relative;
    top: 76px;
    height: 90vh;
    background:radial-gradient( white,pink)  ;
    background-size: cover;
    background-attachment: fixed;
}
.login-page .row{
    width:100%;
    padding-left: 27px;
   
}
.order-details,.placeorder{
    position: relative;
    top: 76px;
    height: 90vh; 
    width: 100%;
    background:radial-gradient( white,pink)  ;
    background-position: center;
    
    background-size: cover;
    background-attachment: fixed;
}
/* place order */
.update-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    right: 90px;
    top:85px;
}
.placeorder a{
    color: var(--primary-pink) !important;
    font-family: 'Lobster', cursive;
}
.del-details{
    background: white;
    margin-top: 30px;
    align-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 6px #ab456f;
}
.pay-method{
    width:50%;
    border-radius: 10px;
    border:1px solid silver;
    padding: 25px;
    background-color: white;
    box-shadow: 0 3px 6px #ab456f;
}
.submit-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* ***  order placed **** */
.order-placed{
    display:flex;
    position:absolute;
    
    justify-content: center;
    align-items: center;
   
}
@media  screen and (max-width:400px) {
    .update-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        right: 10px;
        top:120px;
    }
    .left-section{
        margin-left: 35px;
    }
   
}
